* {
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

header {
    padding-top: 19px;
}

.logo {
    display: inline;
    margin-left: 29px;
    font-size: 15.5px;
    font-weight: 600;
}

.menu {
    display: inline;
    float: right;
    margin-right: 30px;
    font-size: 15.5px;
    opacity: 0.9;
    cursor: pointer;
}

.navbar {
    display: none;
}

.banner {
    height: 290px;
    font-family: "Raleway", sans-serif;
    color: white;
    background-size: cover;
    background-image: url('https://templated.co/items/demos/theory/images/banner.jpg');
}

.banner-inner {
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 45px;
}

.inner-h1 {
    font-weight: 100;
    margin-bottom: 16px;
}
.inner-p {
    font-size: 14.5px;
    color: white;
    opacity: 0.6;
    padding: 0 25px;
    margin: 0;
    line-height: 22px;
}



/* CONTENT */

.row {
    padding: 0;
    margin: 0;
}

.main {
    padding: 0;
}

.row-content {
    margin: 0 auto;
    max-width: 95%;
    padding: 0;
}

article {
    text-align: center;
    width: 100%;
    padding: 40px 0 40px 0;
}

#art-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 22px;
    color: #5385c1;
    font-weight: 300;
    padding: 0 30px;
    line-height: 35px;
    margin-bottom: 25px;
}

article p {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 25px;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #5385c1;
    color: white;
    font-weight: 600;
    border-radius: 0;
    line-height: 45px;
    padding: 0;
    border: 0;
}



/* TEAM/STAFF*/

.row-team {
    padding: 0;
}

.team-wrapper {
    padding: 35px 0 45px 0;
    text-align: center;
    background: #5385c1;
}

.team-header {
    color: white;
    font-weight: 100;
    font-size: 32px;
}

.para {
    color: white;
    font: 100;
    font-size: 14px;
    opacity: 0.6;
}

.wrapper-team {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 90%;
    margin: 15px auto;
    padding: 50px 50px;
}

.img-team img {
    border-radius: 50%;
}

.text-team {
    margin: 30px 0 0 0;
}

.text-team h4 {
    font-weight: 300;
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
}

.text-team p {
    color: white;
    font-weight: 100;
    opacity: 0.8;
    margin: 0;
}



/* EXTRA */


.img-extra img {
    width: 100%;
    margin: 20px 0;
}

.extra-wrapper {
    padding: 40px 0 0 0;
    text-align: center;
}

.row-extra {
    margin: 0 auto;
    text-align: center;
    max-width: 85%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}

.row-extra .col-12 {
    padding: 0;
}

.extra-wrapper h1 {
    margin: 0 auto;
    color: #5385c1;
    font-weight: 100;
    font-size: 32px;
}

.extra-wrapper p {
    color: grey;
    opacity: 0.5;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 300;
}

.text-extra h4 {
    color: #5385c1;
    font-size: 22px;
    font-weight: 300;
    margin: 0.5em 0 1em;
}

.text-extra p {
    font-size: 16px;
    color: black;
    opacity: 0.4;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 2em;
    padding: 0;
}

.extra-info-btn {
    margin: 0 0 2em;
    font-size: 16px;
}



/* FOOTER */

.flex {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
}

.icons {
    text-align: center;
    padding: 20px;
}

.icons li {
    display: inline;
    margin: 0 0 0 15px;
    color: #5385c1;
    font-size: 18px;
}

.copywrite {
    font-size: 13px;
    color: grey;
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
}

.copywrite strong {
    font-weight: 100;
}




/* MEDIA QUERIES */



@media screen and (min-width: 480px) {
    .banner {
        height: 330px;
    }

    header {
        padding-top: 32px;
    }

    .logo {
        font-size: 1em;
    }

    .inner-wrapper {
        text-align: center;
        padding: 30px 30px;
    }

    article {
        text-align: left;
        padding: 25px 0 40px 0;
    }

    article h2 {
        padding: 0;
        width: 60%;
        margin-bottom: 20px;
        font-size: 21.5px;
    }
    article p {
        padding-right: 1em;
    }

    .btn {
        display: inline;
        padding: 13px 25px;
        cursor: pointer;
    }

    .row-extra {
        max-width: 90%;
        padding-bottom: 15px;
    }

    .extra-wrapper {
        padding-top: 40px;
    }

    .text-extra {
        text-align: left;
        padding-bottom: 20px;
    }
}





@media screen and (min-width: 737px) {

    .banner {
        height: 430px;
    }

    header {
        padding: 50px 10px 0 10px;
    }

    .banner-inner {
        top: 45px;
    }

    article h2 {
        width: 40%;
    }

    .inner-h1 {
        font-size: 3.5em;
        padding-bottom: 5px;
    }

    .inner-p {
        font-size: 1em;
    }


    /* TEAM/STAFF */


    .row-team {
        padding: 15px 15px;
    }

    .row-team .col-12 {
        padding: 0;
    }

    .team-header {
        font-size: 2.8em;
        padding-bottom: 5px;
    }

    .para {
        font-size: 16px;
        padding-bottom: 20px;
    }


    /* EXTRA */

    .extra-wrapper h1 {
        font-size: 2.8em;
    }

    .extra-wrapper p {
        font-size: 1em;
        margin-bottom: 40px;
    }

    .text-extra p {
        font-weight: 400;
        opacity: 0.4;
    }

    /* FOOTER */
    

    .flex {
        display: flex;
        flex-direction: row-reverse;
        padding: 40px 0;
        max-width: 90%;
        margin: 0 auto;
    }

    .copywrite {
        display: block;
        text-align: left;
        width: 50%;
    }

    .copywrite p {
        margin: 0;
    }

    .icons {
        width: 50%;
        display: block;
        text-align: right;
        padding: 0;
    }

    .icons ul {
        width: 100%;
        margin: 0;
    }

    .icons li {
        font-size: 18px;
        cursor: pointer;
    }

}






@media screen and (min-width: 992px) {
    
    header {
        display: flex;
        padding: 65px 30px 0 50px;
    }
    .navbar {
        display: list-item;
        width: 50%;
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    .navbar li {
        display: inline;
        margin-right: 20px;
        font-size: 12px;
        font-weight: 200;
        opacity: 0.9;
        cursor: pointer;
    }

    .logo {
        width: 50%;
        margin: 0;
        font-size: 0.9em;
    }

    .menu {
        display: none;
    }
    
    .banner {
        height: 390px;
    }

    .inner-wrapper {
        padding-top: 10px;
    }

    .inner-h1 {
        font-size: 3.2em;
    }

    .inner-p {
        font-size: 14.5px;
    }


    /* CONTENT */

    .row-content {
        margin: 80px 40px;
        display: flex;
        align-items: center;
    }

    #art-border {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 0;
        padding: 10px 10px;
    }

    article h2 {
        font-size: 19.5px;
        width: 100%;
        margin-bottom: 15px;
        line-height: 27px;
    }

    article p {
        font-size: 14.5px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 12px 22px;
        font-size: 14px;
    }


    /* TEAM/STAFF */

    .team-wrapper {
        padding: 80px 0;
    }

    .team-header {
        font-size: 2.5em;
    }

    .para {
        font-size: 0.8em;    }

    .wrapper-team {
        padding: 50px 0;
        max-width: 78%;
    }

    .text-team p {
        font-size: 15px;
    }


    /* EXTRA CONTENT */

    .extra-wrapper {
        padding: 80px 0 0 0;
    }

    .extra-wrapper h1 {
        font-size: 2.7em;
    }

    .row-extra {
        padding-bottom: 80px;
        max-width: 95%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .wrapper-extra {
        max-width: 90%;
        margin: 0 auto;
    }

    .img-extra {
        text-align: center;
    }

    .img-extra img {
        max-width: 100%;
    }


    /* FOOTER */


    .icons li {
        font-size: 16px;
    }
}






@media screen and (min-width: 1282px) {
    .banner {
        height: 450px;
    }
    
    .logo {
        padding-left: 45px;
    }

    .navbar ul {
        padding-right: 45px;
    }

    .inner-wrapper {
        margin-top: 35px;
    }

    .inner-h1 {
        padding-bottom: 10px;
    }


    /* CONTENT */


    #art-border {
        padding: 0 50px;
    }
    


    /* EXTRA CONTENT */


    .row-extra {
        max-width: 80%;
    }


    /* FOOTER */



    .flex {
        padding-left: 100px;
        padding-right: 70px;
    }


}
